body {
	background-color: black;
	text-align: center;
	height: 100vh;
	margin: 0;
}

path {
	stroke: white;
}

#reload {
	position: absolute;
	width: 100px;
	max-width: 100px;
	margin: 1em;
	z-index: 1;
}

#canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
